services:
  database:
    image: postgres:17.6
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  api:
    build:
      context: ./backend/WeddingConfirmationApp
      dockerfile: WeddingConfirmationApp.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__DefaultConnection: Host=database;Port=5432;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Database=${POSTGRES_DB}
      DefaultAdmin__Username: ${DefaultAdminUsername}
      DefaultAdmin__Password: ${DefaultAdminPassword}
      Jwt__Key: ${JwtKey}
      Jwt__Issuer: ${JwtIssuer}
      Jwt__Audience: ${JwtAudience}
      AllowedOrigins: ${AllowedOrigins}
    ports:
      - "8081:8080"
    restart: unless-stopped
    depends_on:
      - database

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
    environment:
      - NODE_ENV=production
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
